In [95]:
import pandas as pd
import numpy as np
import quantstats as qs
import matplotlib.pyplot as plt
import csv
import yfinance as yf
from yahoofinancials import YahooFinancials

In [127]:
# input information here

ticker = 'CUK'
start_date = "2020-01-01"
end_date = "2020-12-22"

In [128]:
# pull data from Yahoo Finance

data = yf.download(ticker, start = start_date, end = end_date, auto_adjust = True)
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Volume
Date
2020-01-02  47.935414  48.202107  47.530438  47.955170  321400
2020-01-03  46.967422  47.095830  46.374774  46.700729  252400
2020-01-06  46.236487  46.236487  45.308002  45.377144  390700
2020-01-07  45.258617  45.495679  45.070947  45.426537  307200
2020-01-08  45.505555  45.920411  45.377146  45.683350  174800

In [129]:
# print returns and ratios

total_return = round(((data['Close'][-1]/data['Close'][0] - 1) * 100), 2)
sharpe = round(qs.stats.sharpe(data.Close), 2)
sortino = round(qs.stats.sortino(data.Close), 2)

print(ticker + '\n')
print('Total return:', total_return, '%')
print('Sharpe ratio:', sharpe)
print('Sortino ratio:', sortino)

CUK

Total return: -62.55 %
Sharpe ratio: -0.2
Sortino ratio: -0.29